.home-container {
  padding: 20px;
}

.home-heading {
  font-size: 32px;
  margin-right: 30px;
  color: #1e293b;
  font-weight: bold;
}

.restaurants-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  justify-content: center;
}

.home-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  flex-wrap: wrap;
}

.restaurants-heading {
  font-size: 34px;
  font-weight: bold;
  color: #183b56;
  margin: 0;
}

.sort-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row; /* default for large devices */
}

.sort-by {
  font-size: 16px;
  color: #475569;
  margin-right: 10px;
  font-weight: bold;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 40px;
}

.sort-container select {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #d7dfe9;
  border-radius: 4px;
  background-color: #f8fafc;
  color: #334155;
  cursor: pointer;
  transition: border 0.3s ease;
}

.sort-container select:hover {
  border-color: #94a3b8;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  gap: 12px;
  margin-bottom: 20px;
}

.pagination-button {
  background-color: transparent;
  border: 1px solid #f7931e;
  color: #f7931e;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination-button:hover {
  background-color: #f7931e;
  color: #ffffff;
}

.pagination-container span {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .home-top-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .restaurants-heading {
    font-size: 20px;
  }

  .sort-container {
    flex-direction: column; /* stacked in mobile */
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    gap: 6px;
  }
}
